.weatherApp
{
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #465b6969;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}